/* web 1134px tablet 980px mobile 580px */


@media screen and (min-width:1134px) {
    div>article,div>header{
        width: 1134px;
    }
}

@media screen and (max-width:1133px) and (min-width:980px) {
    
    
}

@media screen and (max-width:979px) and (min-width:580px) {
    #header>header{
        display: block;
        text-align: center;
    }
    #header>header>nav{
        position: fixed;
        left: -450px; top: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 386px;
        height: 100%;
        padding: 37px;
        box-sizing: border-box;
    }
    #header>header>nav>ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    #header>header>nav>ul>li{
        display: block;
        margin-left: 0px;
        border-bottom: 1px solid #fff;
    }
    #header>header>nav>ul>li>a{
        display: block;
        line-height: 57px;
    }

    /* 버튼 */
    #header .btn{
        display: block;
    }
    #header nav>.close{
        position: absolute;
        top: 20px;
        right: -60px;
        width: 40px;
        height: 40px;
        background-color: red;

    }
   /* box01 */
    /* li -> 33.3333vw */
    #box01>article>ul>li>span{
        /* 980 */
        width: 28vw; height: 28vw;
    }
    #box01>article>ul>li>dl{
        width: 28vw;
    }

    /* box02 */
    #box02>article>#info{
        display: block;
    }

    #box02>article>#info>h4{
        width: 290px;
        margin-left: 0;
        margin: 0 auto 25px;
    }

    #info>ul{
        width: 505px;
        margin-right: 0;
        display: block;
        margin: 0 auto 100px;
    }

    #info>ul>li{
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    /* skill */
    #skill{
        display: block;
    }
    
    #skill>h4{
       display: none;
    }
    #skill>ul{
        /* width : 80vw */
        width: 74.489188712%/* 628px */;
        margin-right: 0;
        margin: 0 auto;
    }
    
    /* 갤러리 */
    /* box03 */
    #wrap>#box03{
        width: 100%;
    }

    #gallery>#show{
        /* 15*2->30vw */
        width: 68vw;
        margin: 0 auto;
        overflow: hidden;
    }
    #gallery>#show>#all{
        width: 204vw;
    }
    #all>figure{
        width: 30vw;
        margin: 0 2vw 30px ;
        text-align: center;
        margin-bottom: 0;
    }
    #all>figure>img{
        /* 980 */
        width: /* 100% */100%;
    }
    /* figure-> 15col-> 30vw */

    /* button */
    #gallery>p{
        position: absolute;
        width: 6vw; 
        height: 6vw;
        background-color: red;
        top: 50%;
        margin-top: -3vw;
        display: block;
    }
    #gallery>.next{
        right: 4vw;
    }
    #gallery>.prev{
        left: 4vw;
    }

    #box04>article>form{
        width: 92vw;
        margin: 0 auto;
    }

    #box04>article>form ul>li{
        padding-left: 145px;
    }

    #box04>article>form ul>li>span>label{
        position: absolute;
        width: 145px;
        padding-left: 0;
        background : none;
       
    }
    #box04>article>form ul>li:nth-child(2)>span>label{
        background-image: none;
    }
    #box04>article>form ul>li:nth-child(3)>span>label{
        background-image: none;
    }
    #box04>article>form ul>li:nth-child(4)>span>label{
        background-image: none;
    }

    aside{
        display: none;
    }

}

@media screen and (max-width:579px){
    
}