@charset "utf-8";

/* 전체 폰트 정리 */

/* 구글 폰트 연결-> */
/* 
메인 폰트
font-family: 'Akshar', sans-serif;

서브 폰트
font-family: 'Quicksand', sans-serif;
 */


/* 공통점 -> div > article, header -> 가로 사이트 중앙위치 */
div>article,div>header{
    width: 1155px;
    margin: 0 auto;
    /* background-color: pink; */
}
/* header{
    width: 1155px;
    margin: 0 auto;
} */


/* #wrap -> div  위 아래 여백 */
#wrap>div{
    padding: 70px 0;
}

/* header  우선권 문제가 있어 #header를 붙여준다*/
#wrap>#header{
    padding: 0 0;
}

/* article -> h3 > 폰트정리 구글 폰트에서 가져온 폰트 사이즈, 정렬, 컬러, 아래여백  */
div>article>h3{
    font: 70px 'Akshar', sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
}
img{
    max-width: 100%;
}

/* 공통공통 hide  */

.hide{
    width: 0; height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    visibility: hidden;
  }

/* 공통공통 html > font연결 font-size 영문 light */

html{
    font: 16px '나눔고딕', sans-serif;
    color: #666666;
}

a{
    color: #fff;
    text-decoration: none;
}

/*  */
/*  */
/*  */
/* a-index : 바디,헤더 900 모달 2500 어사이드 2000 nav2500 */

/* 위아래 여백, 배경칼라, 투명도, 픽스드, 좌표값, 가로크기 */
/* 아이콘 앱솔루트,좌표값,크기(가로세로) */
#wrap>#header{
     padding: 20px 0;
     background-color: rgba(60, 32, 61, 0.5);
     position: fixed;
     left: 0; top: 0;
     width: 100%;
     z-index: 900;
}

#header>header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header>header a{
    color: #fff;
    text-decoration: none;
}
#header>header>h1{
    width: 170px;
    font: 33px 'Akshar', sans-serif;
   
}
#header>header>nav>ul{
    width: 340px;
    display: flex;
    justify-content: space-around;
}
#header>header>nav>ul>li{
    font: 17px 'Akshar', sans-serif;
    text-align: center;
}

#header .btn{
    position: absolute;
    width: 40px; height: 40px;
    background-color: red;
    right: 20px; top: 20px;
    
}

/* ---------box01------------------------- */

#wrap>#box01{
    height: 100vh;
    background: url(../images/header_back.png) no-repeat center top;
    padding: 0;
}

#box01>article{
    position: relative;
    height: 100%;
    
}
#box01>article>h3{
    position: absolute;
    top:24.4444444%; left: 0;
    width: 100%;
    font-size: 75px;
    color: #fff;
}
#box01>article>ul{
    position: absolute;
    left: 0; bottom: 18.3574879%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}
#box01>article>ul>li{
    width: 33.33333%;
}
#box01>article>ul>li>dl{
    width: 225px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}
#box01>article>ul>li>dl>dt{
    margin-bottom: 10px;
}
#box01>article>ul>li>dl>dd{}

#box01>article>ul>li>span{
    display: block;
    margin: 0 auto 20px;
    width: 225px; height: 225px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7) url(../images/header_icon_01.png) no-repeat center;
}
#box01>article>ul>li:nth-child(2)>span{
    background-image: url(../images/header_icon_02.png);
}
#box01>article>ul>li:nth-child(3)>span{
    background-image: url(../images/header_icon_03.png);
}


/* ----------box02-------------- */

#box02{
    background-color: #e8e8e8;
}
#box02>article{
    
}


#box02>article>#info{
    margin-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#box02>article>#info>h4{
    width: 290px;
    margin-left: 25px;
}
#box02>article ul{
    
    /* display: flex;
    flex-wrap: wrap;
    align-content: stretch; */
}
#info>ul{
    width: 628px;
    margin-right: 105px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#info>ul>li{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
#info>ul>li>dfn{
    width: 152px;
}
#info>ul>li>span{
    width: 468px;
}


/* skill */
#skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skill>h4{
    width: 290px;
    text-align: center;
    margin-left: 25px;
}
#skill>ul{
    width: 628px;
    margin-right: 105px;
    line-height: 34px;
}
#skill>ul>li{
    margin-bottom: 38px;
    position: relative;
}
#skill>ul>li>dfn{
    position: absolute;
    width: 150px;
    left: 0; top: 0;
}
#skill>ul>li>span{
    display: block;
    /* width: auto; */
    margin-left: 150px;
    background: #666 url(../images/bar.gif) no-repeat left top;
    text-indent: -99999px;
}
#skill>ul>li:nth-child(1)>span{
    background-size: 20% 100%;
}
#skill>ul>li:nth-child(2)>span{
    background-size: 30% 100%;
}
#skill>ul>li:nth-child(3)>span{
    background-size: 95% 100%;
}
#skill>ul>li:nth-child(4)>span{
    background-size: 80% 100%;
}
#skill>ul>li:nth-child(5)>span{
    background-size: 90% 100%;
}

/* box03 */
#wrap>#box03{
    padding-bottom: 0;
}

#box03>article>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
}
#box03>article>ul>li{
    /* display: inline; */
    padding: 0 35px;
    border-left: 1px solid #666;
}
#box03>article>ul>li:nth-child(1){
    border: none;
}
#box03>article>ul>li>a{
    font-size: 18px;
}

#gallery{
    position: relative;
}
#gallery>#show{

}
#gallery>#show>#all{
    display: flex;
    flex-wrap: wrap;
}
#all>figure{
    width: 33.33333333%;
    text-align: center;
    margin-bottom: 69px;
}
#all>figure>img{
    width: 257px;
    margin: 0 auto 24px;
    border-radius: 50%;
}
#all>figure>figcaption{
}
/* button */
#gallery>p{
    position: absolute;
    width: 30px; height: 30px;
    background-color: red;
    top: 50%;
    margin-top: -15px;
    display: none;
}
#gallery>.next{
    right: 0;
}
#gallery>.prev{
    left: 0;
}
/* modal */
/* #modal{
    display: none;
} */


/* box04 */

#box04{
    background-color: #f93c64;
    color: #fff;
}
#box04>article>h3{
    color: #fff;
}
#box04>article>form>ul{}
#box04>article>form ul>li{
    margin-bottom: 33px;
    position: relative;
    padding-left: 170px;
    line-height: 50px;
}
#box04>article>form ul>li>span>label{
    position: absolute;
    width: 170px;
    left: 0; top: 0;
    /* color: #fff; */
    font-size: 24px;
    /* text-align: center; */
    padding-left: 70px;
    background: url(../images/contact_icon_01.png) no-repeat 25px center;
    box-sizing: border-box;
}
#box04>article>form ul>li:nth-child(2)>span>label{
    background-image: url(../images/contact_icon_02.png);
}
#box04>article>form ul>li:nth-child(3)>span>label{
    background-image: url(../images/contact_icon_03.png);
}
#box04>article>form ul>li:nth-child(4)>span>label{
    background-image: url(../images/contact_icon_04.png);
}

#box04>article>form ul>li>span>input{
    width: 100%;
    line-height: 50px;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
    text-indent: 30px;
    border-radius: 10px;
}   
#box04>article>form ul>li>span>textarea{
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 165px;
    background-color: #fff;
    text-indent: 30px;
    line-height: 50px;
    border-radius: 10px;
}
#box04>article>form>fieldset>p{
    text-align: right;
}
#box04>article>form>fieldset>p>input{
    background-color: #f69d20;
    width: 120px;
    border-radius: 5px;
    border: none;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
}

/* aside */

aside{
    position: fixed;
    top: 50%;
    right: 12px;
    background-color: red;
    z-index: 2000;
    /* 195px */
    margin-top: -97px;
}
aside>ul{}
aside>ul>li{
    margin-bottom: 25px;
}
aside>ul>li:last-child{
    margin-bottom: 0;
}
aside>ul>li>a{
    display: block;
    width: 30px; height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    text-indent: -99999px;
}

/* footer */
footer{
    background-color: #333333;
    padding: 43px 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

/* modal */
#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    z-index: 2500;
    background-color: rgba(0, 0, 0, 0.85);
}
#modal>p{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 30px;
    background-color: red;
}

#modal section{
    position: fixed;
    width: 980px;
    /* height: ; */
    left: 50%; top: 50%;
    margin: -200px 0 0 -450px ;
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
}

#modal section>h5{
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}
#modal section>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#modal section>div>figure{
    width: 40%;
}
#modal section>div>dl{
    width: 50%;
}
#modal section>div>dl>dt{
    clear: both;
    float: left;
    width: 150px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}
#modal section>div>dl>dd{
    float: left;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
}